<div class="center hero-unit">
<h1>Welcome to the Unofficial SXSW Directory</h1>
<h2>
	This is the home page for everything around town during<a href="http://www.sxsw.com"> SXSW</a>
</h2>
<% if !signed_in? %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
<p>Or <%= link_to "sign in", signin_path %> to post your event</p>
<% else %>
<%= link_to "Post new event", new_event_path, class: "btn btn-large btn-primary"%>
<% end %>
</div>
<table>
<tr>
<th>Event Name</th>
<th>Location</th>
<th>Event Type</th>
<th>Date</th>
</tr>
<% Event.all.each do |event| %>
<tr>
<td><%=event.name%></td>
<td><%=event.id%></td>
<td> Fun event </td>
<td><%=event.date%></td>
</tr>
<% end %>
</table>
