<div class="center hero-unit">
  <h1>SXSWHAT?</h1>
  <h2>
    This is the home page for everything around town during <a href="http://www.sxsw.com">SXSW</a>
  </h2>
  <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
    <p>Or
      <%= link_to "Sign in", signin_path %>
      to post your event</p>
  <% else %>
    <%= link_to "Post new event", new_event_path, class: "btn btn-large btn-primary"%>
  <% end %>
</div>
<ul style="list-style:none">
    <table>
      <tr>
        <th>Event Name</th>
        <th>Location</th>
        <th>Time</th>
        <th></th>
      </tr>
      <% Event.all.each do |event| %>
          <tr>
            <td><%= link_to event.name, event %></td>
            <td><%=event.location%></td>
            <td><%=event.tstart.strftime('%-I:%M %p') %></td>
            <td>
              <% if event.drinks == true %>
                <span class="glyphicon glyphicon-glass"></span>
              <% end %>
              <span class="glyphicon glyphicon-calendar"></span>
            </td>
          </tr>
      <% end %>
    </table>
  <% end %>
</ul>
