<div>
<div class="center hero-unit">
  <%= image_tag("SXSWHAT.png", size: '483x162') %>
  <h2>
    A simple, user submitted <a href="http://www.sxsw.com">SXSW</a> event schedule
  </h2>
  <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
    <p>
      <%= link_to "Sign in", signin_path %>
      to create your personal schedule and events</p>
  <% else %>
    <%= link_to "Post new event", new_event_path, class: "btn btn-large btn-primary"%>
  <% end %>
</div>
</div>
<ul style="list-style:none">
  <table>
    <tr>
      <td style='vertical-align: top;'><b>Filters</b></td>
       <td  style='vertical-align: top;'><input id='free_price' type=checkbox /> Free</td>
      <td style='vertical-align: top;'><input id='rsvp' type=checkbox /> Free w/ RSVP</td>
      <td style='vertical-align: top;'><input id='paid' type=checkbox /> Paid</td>
      <td style='vertical-align: top;'><input id='free_drink' type=checkbox /> Free Drinks</td>
      <td>
        Date
        <select id='event_date' style='width: 150px;vertical-align: baseline;'>
           <option value='all_date' > All </option>
           <% @events_collection.each do |event_date, event_list| %>
             <option value='<%= event_date.to_s %>' ><%= event_date.to_s(:long) %> </option>
           <% end %>
        </select> 
      </td>
    </tr>
  </table>
  <table class='table'>
  <% @events_collection.each do |event_date, event_list| %>
    <tbody class='<%= events_collection_class(event_list) + " " + event_date.to_s %>'>
        <tr>
          <th colspan=4><h3><%= event_date.strftime('%A, %d %B') %> </h3> </th>
        </tr>
        <tr>
	  <th></th>
	  <th></th>
          <th>Event Name</th>
          <th>Location</th>
	  <th>Ages</th>
	  <th>Price</th>
          <th>Time</th>
          <th></th>
        </tr>
      <% event_list.each do |event| %>
          <tr class='<%= event_class(event) %>' >
	    <td>
	
		<% if event.actual_price[0] == "$"%>
		<span class ="glyphicon glyphicon-usd"></span>
		<% else %>
		 &nbsp;&nbsp;&nbsp;
		<% end %>
	    </td>
	    <td>
              <% if event.drinks == true %>
                <span class="glyphicon glyphicon-glass"></span>
              <% else %>
                &nbsp;&nbsp;&nbsp;
              <% end %>
	    </td>
            <td><%= link_to event.name, event %></td>
            <td><%=event.location%></td>
	    <td><%=event.ages %></td>
	    <td><%= event.actual_price %></td>
            <td><%=event.tstart.strftime('%-I:%M %p') %> - <%= event.tend.strftime('%-I:%M %p') %></td>
            <td>
              <%= link_to "<span class='glyphicon glyphicon-calendar'></span>".html_safe, favorite_event_path(event), method: :put %>
            </td>
          </tr>
      <% end %>
    </tbody>
  <% end %>
  </table>
</ul>
