<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>We've changed!</strong> Due to recent issues with a certain festival in March we have been forced to change it up a bit but the party will NOT stop. What was once SXSWHAT is now Censored Showlist. We will try to keep the transition as seamless as possible for you. However, some downtime may be experienced.</div>
<div class="center hero-unit col-md-6 centered" style='float: none;margin: 0 auto;'>
  <%= image_tag("logo.png", :class => "img-responsive") %>
  <h2>
    A simple, user submitted event schedule
  </h2>
  <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
    <p>
      <%= link_to "Sign in", signin_path %>
      to create your personal schedule and events</p>
  <% else %>
    <%= link_to "Post new event", new_event_path, class: "btn btn-large btn-primary"%>
  <% end %>
</div>
<br/>
<br/>
<br/>
  <div class='col-md-12'>
      <div class='col-md-2'><b>Filters</b></div>
      <div class='col-md-2' style='text-align:left;'><input id='free_price' class='pull-left' style='width:auto !important;' type=checkbox /> Free</div>
      <div class='col-md-2' style='text-align:left;'><input id='rsvp' type=checkbox  class='pull-left' style='width:auto !important;'/> Free w/ RSVP</div>
      <div class='col-md-2' style='text-align:left;'><input id='paid' type=checkbox  class='pull-left' style='width:auto !important;' /> Paid</div>
      <div class='col-md-2' style='text-align:left;'><input id='free_drink' type=checkbox  class='pull-left' style='width:auto !important;' /> Free Drinks</div>
      <div class='col-md-2' style='text-align:left;'>
        Date
        <select id='event_date' style='margin-bottom: 10px; color: black; width: 150px;vertical-align: baseline;'>
           <option  value='all_date' > All </option>
           <% @events_collection.each do |event_date, event_list| %>
             <option  value='<%= event_date.to_s %>' ><%= event_date.to_s(:long) %> </option>
           <% end %>
        </select> 
      </div>
  </div>
  <table class='table table-responsive table-striped '>
  <% @events_collection.each do |event_date, event_list| %>
    <tbody class='<%= events_collection_class(event_list) + " " + event_date.to_s %>'>
        <tr>
          <th colspan=9><h3><%= event_date.strftime('%A, %d %B') %> </h3> </th>
        </tr>
        <tr>
	  <td></td>
	  <td></td>
	  <td></td>
          <td><b>Event Name</b></td>
          <td><b>Location</b></td>
	  <td><b>Price</b></td>
          <td><b>Time</b></td>
          <td></td>
	  <td></td>
        </tr>
      <% event_list.each do |event| %>
          <tr class='<%= event_class(event) %>' >
            <td>
              <% if event.is_top_10? %>
                
		<span style="color:#FF4D00;" class ="glyphicon glyphicon-fire"></span>
              <% end %>
            </td>
	    <td>
	
		<% if event.actual_price[0] == "$"%>
		<span class ="glyphicon glyphicon-usd"></span>
		<% else %>
		 &nbsp;&nbsp;&nbsp;
		<% end %>
	    </td>
	    <td>
              <% if event.drinks == true %>
                <span class="glyphicon glyphicon-glass"></span>
              <% else %>
                &nbsp;&nbsp;&nbsp;
              <% end %>
	    </td>
	    <td><%= link_to event.name, event %></td>
            <td><%=event.location%></td>
	    <td><%= event.actual_price %></td>
            <td><%=event.tstart.strftime('%-I:%M %p') %> - <%= event.tend.strftime('%-I:%M %p') %></td>

	    <td><span class="badge"><%= events_count(event) %></span></td>
            <td>
              <%= link_to "<span class='glyphicon glyphicon-calendar'></span>".html_safe, favorite_event_path(event), method: :put %>
            </td>
          </tr>
      <% end %>
    </tbody>
  <% end %>
  </table>
</div>
