<div class="center hero-unit">
  <%= image_tag(image_path('SXSWHAT.png)'), size: '483x162') %>
  <h2>
    This is the home page for everything around town during <a href="http://www.sxsw.com">SXSW</a>
  </h2>
  <% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
    <p>Or
      <%= link_to "Sign in", signin_path %>
      to post your event</p>
  <% else %>
    <%= link_to "Post new event", new_event_path, class: "btn btn-large btn-primary"%>
  <% end %>
</div>
<ul style="list-style:none">
  <table>
    <tr>
      <td style='vertical-align: top;'><b>Filters</b></td>
       <td  style='vertical-align: top;'><input id='free_price' type=checkbox /> Free(price)</td>
      <td style='vertical-align: top;'><input id='rsvp' type=checkbox /> Rsvp</td>
      <td style='vertical-align: top;'><input id='paid' type=checkbox /> Paid</td>
      <td style='vertical-align: top;'><input id='free_drink' type=checkbox /> Free Drink</td>
      <td>
        Date
        <select id='event_date' style='width: 150px;vertical-align: baseline;'>
           <option value='all_date' > All </option>
           <% @events_collection.each do |event_date, event_list| %>
             <option value='<%= event_date.to_s %>' ><%= event_date.to_s(:long) %> </option>
           <% end %>
        </select> 
      </td>
    </tr>
  </table>
  <% @events_collection.each do |event_date, event_list| %>
    <table class='table <%= events_collection_class(event_list) + " " + event_date.to_s %>'>
      <thead>
        <tr>
          <th colspan=4><h3><%= event_date.strftime('%A, %d %B') %> </h3> </th>
        </tr>
        <tr>
          <th>Event Name</th>
          <th>Location</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% event_list.each do |event| %>
          <tr class='<%= event_class(event) %>' >
            <td><%= link_to event.name, event %></td>
            <td><%=event.location%></td>
            <td><%=event.tstart.strftime('%-I:%M %p') %></td>
            <td>
              <% if event.drinks == true %>
                <span class="glyphicon glyphicon-glass"></span>
              <% end %>
              <%= link_to "<span class='glyphicon glyphicon-calendar'></span>".html_safe, favorite_event_path(event), method: :put %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</ul>
