<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="row">
      <div class="span3">
      <%= f.text_field :first_name, :placeholder => "First Name" %>
      </div>

      <div class="span3" style="float:right; overflow:hidden;">
      <%= f.text_field :last_name, :placeholder => "Last Name" %>
       </div>
      </div>
	
      <div class="row">
      <div class="span6">
      <%= f.text_field :displayname, :placeholder => "Display Name" %>
      </div>
      </div>
      <div class="row">
      <div class="span6">
      <%= f.text_field :email, :placeholder => "Email Address" %>
      </div>
      </div>
	<div class="row">
	<div class="span3">
      <%= f.password_field :password, :placeholder => "Password" %>
	</div>
	<div class="span3" style="float:right; overflow:hidden;">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
</div>
</div>


      <div class="row">
      <div class="span6">
	<div class="span">
	<%= f.check_box :emailopt, :checked=>true, :default => true %>
	</div>
	<div class="span5 ">Yes, I would like to receive awesome, exclusive updates and offers from SXSWHAT
      </div>
      </div>
      </div>
<br>

      <div class="row">
      <div class="span6">
	<div class="span">
	<%= f.check_box :privacy %>
	</div>
	<div class="span5">I have read and I agree to the Terms of Service and <%= link_to "Privacy Policy", privacy_path %> of SXSWHAT
</div>
      </div>
</div>
<br>
<div class="row">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
</div>
    <% end %>
  </div>
</div>
