<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=607284236012892";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
$("document").ready(function(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
});
</script>

<% provide(:title, @event.name) %>

<h1><%= @event.name %></h1>
<div class="row">
  <div class="col-md-6" style="clear:both;"><%= simple_format(url_link(@event.content)) %></div>
  <div class="col-md-4 col-md-offset-1">
<center>
    <h3><%= @event.date.strftime('%A, %b %d') %></h3>
    <h4><%= @event.tstart.strftime('%I:%M %p') %> - <%= @event.tend.strftime('%I:%M %p') %></h4>
    
    <br>

    <b>Cost:</b>
    <%= @event.actual_price %>
    &nbsp;
    &nbsp;
    &nbsp;
    <b>Ages:</b>
    <%= @event.age %>
  
    <br>
    <b>
      <% if @event.link.length > 9 %>
        <%=link_to 'Tickets/RSVP Here', @event.link %>
      <% end %>
    </b>
    <br>
    <b><%=@event.location %></b>
    <p><%= @event.address %></p>
    <div id="map"></div>

    <% if current_user && current_user.user_calendars.collect(&:event).include?(@event) %>
      <%= link_to "Remove from schedule", remove_event_path(@event), method: :put, class: 'btn btn-primary btn-danger' %>
    <% else %>  
      <%= link_to "Add to schedule", favorite_event_path(@event, type: "add"), method: :put, class: 'btn btn-primary' %>
    <% end %>
    
    <% if current_user == @event.user_id %>
      <%= link_to "Edit event", edit_event_path(@event), class: 'btn btn-success' %>
    <% end %>

    <br>
    <br>
    <br>
  
<div class="col-xs-3 col-xs-offset-8"> 
    <div style="positon:relative;" class="fb-share-button" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-type="button"></div>
</div>
<br/> 
<br/>
<div class="col-xs-3 col-xs-offset-8"> 
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
</div>
</div>
</center>
  <hr>

    <br>
<div class="col-md-6">
    <div style="position: relative; "><b>Created by: </b><%= link_to User.find_by_id(@event.user_id).first_name, User.find_by_id(@event.user_id) %><div>
</div>
