<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=607284236012892";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
$("document").ready(function(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
});
</script>
<% provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<div class="single_event"><%= simple_format(@event.content) %></div>
<div class="event_sidebar">
  <h3><%= @event.date.strftime('%A, %b %d') %></h3>
  <h4><%= @event.tstart.strftime('%I:%M %p') %>
    -
    <%= @event.tend.strftime('%I:%M %p') %></h4>
  <br>
  <b><%=@event.location %></b>
  <p><%= @event.address %></p>
  <% if current_user && current_user.user_calendars.collect(&:event).include?(@event) %>
    <%= link_to "Added to calendar", '#' , class: 'btn btn-primary' %>
  <% else %>  
    <%= link_to "Add to calendar", favorite_event_path(@event, type: "add"), method: :put , class: 'btn btn-primary' %>
  <% end %>
  <div id="map"></div>
  <br/>
  <div style=" float:right;" class="fb-share-button" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-type="button"></div>  
</div>
<hr>
<p class="single_event">
  <b>Cost:
  </b>
    <%= @event.actual_price %>
  <br>
  <b>Ages:
  </b>
  <%= @event.age %>
  <br>
  <% if @event.link.length != 0 %>
  <%=link_to 'Tickets/RSVP', @event.link %>
  <% end %>
<div style="float:right;"><b>Created by: </b><%= link_to User.find_by_id(@event.user_id).name, User.find_by_id(@event.user_id) %><div>
</p>
